# Build directory
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon


# Thumbnails
._*

# Xcode

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout